html, body {
  padding: 0;
  margin: 0;
  height: 95%;
}
body {
  font-size: 20px;
}

.wrapper, footer {
  padding: 0;
  margin: 0 auto;
  width: 80%;
  min-width: 900px;
}
.wrapper {
  min-height: 90%;
  height: auto !important;
  height: 90%;
}

a {
  text-decoration: none;
}

/* header */
header {
  margin: 10px auto 50px;
  text-align: center;
}
header a {
  color: #000000;
}

/* posts list */

.posts-list {
  width: 80%;
  margin: 10px auto;
}
.posts-list ul {
  margin: 0;
}
.posts-list li {
  list-style: none;
}

/* each post in posts list*/

.each-post {
  margin: 10px 0 40px;
}
.each-post h3 {
  margin: 5px 0;
}
.excerpt {
  margin: 0 10px;
}

/* actual posts */

.post {
  width: 80%;
  margin: 0 auto 30px;
}
.post h2 {
  margin: 5px 0;
}
.post .metadata {
  font-size: 0.8em;
}
.post .metadata .author, .post .metadata time {
  margin: 1px 0;
}
.post .content {
  margin: 0 5px;
}

/* footer */

footer {
  height: 40px;
  font-size: 0.7em;
  text-align: center;
}
