---
layout: default
title: My testing blog
---

<section class="posts">
  <h2>Recent posts</h2>
  <ul>
    {% for post in paginator.posts %}
      <li>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <section class="metadata">
          <p class="author">por {{ page.author }}</p>
          <time>{{ page.date | date_to_string }}</time>
          {{ post.excerpt }}
        </section>
      </li>
    {% endfor %}
  </ul>
</section>


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}


<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}

  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>