<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
</head>
<body>
<div class="wrapper">
  <header>
    <h1><a href="/" title="Lo juro!">Esto es un blog</a></h1>
  </header>

{{ content }}
  
</div>
<footer>
  <p>Escrito con mucho cariño por <a href="http://twitter.com/juanipaccapelo">Juani Paccapelo</a>.</p>  
</footer>
</body>
</html>